<mat-card class="centered-class">
    <div class="title">
        Kilo <span class="to">to</span> Euro
    </div>
    <div class="subtitle">
        How much would you be worth if you were made of coins or bills?
    </div>
    <mat-form-field class="full-width-field">
        <input type="number" min="0" step="0.1" matInput placeholder="Weight (kg)" [(ngModel)]="poidsEntre">
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <mat-select placeholder="Currency" [(value)]="monnaieSelectionnee">
            <mat-option *ngFor="let monnaie of monnaies" [value]="monnaie">
                {{ monnaie }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="price">{{ montant | number:'1.2-2':'fr' }} €</div>
</mat-card>


